.App {
    text-align: center;
}


.TicTacToeSquare {
    width: 150px;
    height: 150px;
    background-color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.GoBangSquare {
    width: 30px;
    height: 30px;
    background-color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.GoBangSquareSpan {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}

.XSquare {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: #000000;
}

.OSquare {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: #fff;
    font-size: 14px;
}


.handOver {
    text-align: center;
    width: 300px;
    height: 70px;
    background-color: #eee;
    border: none;
    margin-left: 20px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 2px;
}

.TicTacToe {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 150px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    margin-top: 20px;
}

.GoBang{
    display: flex;
    flex-wrap: wrap;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
